.text {
    font-size: 14px;
}

.item {
    padding: 18px 0;
}

.box-card {
    width: 480px;
}
#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-card {
    width: 480px;
    height: 400px;
    margin: 20%;
}